$font-1: 'helvetica';
$black: #000;
$white: #fff;
$grey: #ccc;
$gray: #95989a;
$break-small: 600px;
$btn-color: #333;

/*.single {
	#page {
		width: 375px;
		margin: 0 auto;
	}
}*/
* {
	outline: none;
}
body{
	font-family: $font-1;
	line-height: 1;
	&.single {
		#page {
			article {
				width: auto !important;
				border: none !important;
				.post-thumbnail {
					img {
						width: 100%;
					}
				}
				.article-content {
					.entry-title {
						line-height: 40px;
					}
				}
			}
		}
	}
	#page {
		width: 375px;
		margin: 0 auto;
		/*border-width:10px 15px 10px 15px;
		border-style:solid solid solid solid;
		border-color: $black $black $black $black;*/
		.inner-container {	
			width:331px;
			margin: 0 auto !important;
		}
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 20px;
		}
		.page-number {
			margin: 10px 0 30px;
		}
		a {
			text-decoration: none;
			color: $black;
		}
		.site-branding {
			position: relative;
			margin: 20px 0;
			.custom-logo-link {
				margin-left: 20px;
			}
			#site-navigation {
				position: absolute;
				.menu-toggle {
					cursor: pointer;
					background: none;
					border: none;
					display: block;
					position: absolute;
					top: -5px;
		    		right: 10px;
					z-index: 1;
					-webkit-user-select: none;
					user-select: none;
					span {
						display: block;
						width: 40px;
						height: 3px;
						margin-bottom: 10px;
						position: relative;

						background: #cdcdcd;
						border-radius: 3px;
						z-index: 1;
						transform-origin: 4px 0px;
						transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						          opacity 0.55s ease;
						&:first-child
							{
							  transform-origin: 0% 0%;
							}
						&:nth-last-child(2)
							{
							  transform-origin: 0% 100%;
							}
					}		
				}
				.menu-main-menu-container {
					position: absolute;
					top: 43px;
					height: 95vh;
					bottom: 0;
					left: 0;
					right: 0;

					text-align: center;
					display: none;
					/*flex-direction: column;*/
					justify-content: center;
					#primary-menu {
						width: 100%;
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							align-items: center;
							flex: 1;
							display: block;
							float: none;
							a {
				        		font-size: 20px;
								transition: all 0.5s ease;
								text-decoration: none;
								color: $black;
								&:hover {
									transform: scale(1.1);
									&:before {
										visibility: visible;
										transform: scaleX(1);
									}
								}
								/*&:before {
									content: "";
									position: absolute;
									width: 50%;
									height: 2px;
									bottom: 0;
									left: 25%;
									background: white;
									visibility: hidden;
									transform: scaleX(0);
									transition: all 0.3s ease-in-out 0s;
								}*/
								@media screen and (min-width: $break-small) {
								    font-size: 30px;
								}
							}
						}
					}	

					background: $white;
					transition: opacity 500ms;
					visibility: hidden;
					opacity: 0;
					-webkit-font-smoothing: antialiased;
					/* to stop flickering of text in safari */

					transform-origin: 0% 0%;
					transform: translate(100%, 0);

					transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						          opacity 0.55s ease;
					li {
						padding: 10px 0;
						font-size: 22px;
					}
				}
				&.toggled{
					.menu-toggle {
						right: 7px;
						span{
							width: 43px;
							opacity: 1;
							transform: rotate(45deg) translate(0, -1px);
							background: #232323;
							&:nth-child(2)
								{
									opacity: 0;
								    transform: rotate(0deg) scale(0.2, 0.2);
								}
							&:nth-child(3)
								{
								  transform: rotate(-45deg) translate(-3px, -1px);
								}
						}
					}
					.menu-main-menu-container {
						transform: translate(0, 0);
						visibility: visible;
						opacity: 1;
						display: flex;
						li {
							transform: scale(1.0, 1.0);
					  	}
					}
				}
			}	
		}
		#content {
			padding-bottom: 15px;
		}
		article {
			@extend .inner-container;
			margin-bottom: 22px !important;
			border: 2px solid $gray;
			.article-content {
				padding: 8px 20px 18px;
				.entry-title{	
					margin: 0;
					text-transform: uppercase;
					line-height: 30px;
					a {
						color: $black;
						text-transform: uppercase;
						margin: 0;
						font-weight: bold;
						text-decoration: none;
					}
				}
				.entry-content {
					margin-top: 10px;
					p {
						width: 310px;
						padding: 20px 0;
					    margin: 0;
					    letter-spacing: 0.5px;
					    line-height: 30px;
					    font-size: 20px;
					}
				}
				.entry-meta {
					@extend .entry-content;
				}
				time {
					color: $gray;
					font-size: 15px;
					text-transform: uppercase;
				}
			}
		}
		.btn-bottom {
			width: 100%;
			padding: 10px;
			font-size: 20px;
			color: $white;
			text-decoration: none;
			display: block;
			background: $btn-color;
			text-align: center;
		}
		.navigation {
			text-align: center;
			.wp-paginate {
				li {
					line-height: 20px !important;
					a,span {
						color: $white;
						font-size: 20px;
						background-color: $btn-color;
						border: 1px solid $btn-color;
						font-family: $font-1;
						margin: 15px 5px;
						display: inline-block;
						padding: 7px 10px;
					}
					.prev, .next {
					    text-indent: -999999px;
					    background-image: url('../paginate_left.png');
					    background-position: 9px 8px;
					    background-repeat: no-repeat;
					    padding: 7px 15px;
					}
					.next {
						background-image: url('../paginate_right.png');
					}
					.current {
						background-color: $white;
						color: $btn-color;					
					}
					.grey {
						border: 1px solid $grey;					
						background-color: $grey;
					}
				}
			}
		}
	}	
}
footer {
	margin: 15px 0;
	.site-info {
		text-align: center;
		font-size: 20px;
		color: $gray;
	}
}