/*.single {
	#page {
		width: 375px;
		margin: 0 auto;
	}
}*/
* {
  outline: none; }

body {
  font-family: "helvetica";
  line-height: 1; }
  body.single #page article {
    width: auto !important;
    border: none !important; }
    body.single #page article .post-thumbnail img {
      width: 100%; }
    body.single #page article .article-content .entry-title {
      line-height: 40px; }
  body #page {
    width: 375px;
    margin: 0 auto;
    /*border-width:10px 15px 10px 15px;
    border-style:solid solid solid solid;
    border-color: $black $black $black $black;*/ }
    body #page .inner-container, body #page article {
      width: 331px;
      margin: 0 auto !important; }
    body #page h1 {
      font-size: 30px; }
    body #page h2 {
      font-size: 20px; }
    body #page .page-number {
      margin: 10px 0 30px; }
    body #page a {
      text-decoration: none;
      color: #000; }
    body #page .site-branding {
      position: relative;
      margin: 20px 0; }
      body #page .site-branding .custom-logo-link {
        margin-left: 20px; }
      body #page .site-branding #site-navigation {
        position: absolute; }
        body #page .site-branding #site-navigation .menu-toggle {
          cursor: pointer;
          background: none;
          border: none;
          display: block;
          position: absolute;
          top: -5px;
          right: 10px;
          z-index: 1;
          -webkit-user-select: none;
          user-select: none; }
          body #page .site-branding #site-navigation .menu-toggle span {
            display: block;
            width: 40px;
            height: 3px;
            margin-bottom: 10px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
            body #page .site-branding #site-navigation .menu-toggle span:first-child {
              transform-origin: 0% 0%; }
            body #page .site-branding #site-navigation .menu-toggle span:nth-last-child(2) {
              transform-origin: 0% 100%; }
        body #page .site-branding #site-navigation .menu-main-menu-container {
          position: absolute;
          top: 43px;
          height: 95vh;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          display: none;
          /*flex-direction: column;*/
          justify-content: center;
          background: #fff;
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
          -webkit-font-smoothing: antialiased;
          /* to stop flickering of text in safari */
          transform-origin: 0% 0%;
          transform: translate(100%, 0);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
          body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none; }
            body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu li {
              align-items: center;
              flex: 1;
              display: block;
              float: none; }
              body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu li a {
                font-size: 20px;
                transition: all 0.5s ease;
                text-decoration: none;
                color: #000;
                /*&:before {
                	content: "";
                	position: absolute;
                	width: 50%;
                	height: 2px;
                	bottom: 0;
                	left: 25%;
                	background: white;
                	visibility: hidden;
                	transform: scaleX(0);
                	transition: all 0.3s ease-in-out 0s;
                }*/ }
                body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu li a:hover {
                  transform: scale(1.1); }
                  body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu li a:hover:before {
                    visibility: visible;
                    transform: scaleX(1); }
                @media screen and (min-width: 600px) {
                  body #page .site-branding #site-navigation .menu-main-menu-container #primary-menu li a {
                    font-size: 30px; } }
          body #page .site-branding #site-navigation .menu-main-menu-container li {
            padding: 10px 0;
            font-size: 22px; }
        body #page .site-branding #site-navigation.toggled .menu-toggle {
          right: 7px; }
          body #page .site-branding #site-navigation.toggled .menu-toggle span {
            width: 43px;
            opacity: 1;
            transform: rotate(45deg) translate(0, -1px);
            background: #232323; }
            body #page .site-branding #site-navigation.toggled .menu-toggle span:nth-child(2) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2); }
            body #page .site-branding #site-navigation.toggled .menu-toggle span:nth-child(3) {
              transform: rotate(-45deg) translate(-3px, -1px); }
        body #page .site-branding #site-navigation.toggled .menu-main-menu-container {
          transform: translate(0, 0);
          visibility: visible;
          opacity: 1;
          display: flex; }
          body #page .site-branding #site-navigation.toggled .menu-main-menu-container li {
            transform: scale(1, 1); }
    body #page #content {
      padding-bottom: 15px; }
    body #page article {
      margin-bottom: 22px !important;
      border: 2px solid #95989a; }
      body #page article .article-content {
        padding: 8px 20px 18px; }
        body #page article .article-content .entry-title {
          margin: 0;
          text-transform: uppercase;
          line-height: 30px; }
          body #page article .article-content .entry-title a {
            color: #000;
            text-transform: uppercase;
            margin: 0;
            font-weight: bold;
            text-decoration: none; }
        body #page article .article-content .entry-content, body #page article .article-content .entry-meta {
          margin-top: 10px; }
          body #page article .article-content .entry-content p, body #page article .article-content .entry-meta p {
            width: 310px;
            padding: 20px 0;
            margin: 0;
            letter-spacing: 0.5px;
            line-height: 30px;
            font-size: 20px; }
        body #page article .article-content time {
          color: #95989a;
          font-size: 15px;
          text-transform: uppercase; }
    body #page .btn-bottom {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      display: block;
      background: #333;
      text-align: center; }
    body #page .navigation {
      text-align: center; }
      body #page .navigation .wp-paginate li {
        line-height: 20px !important; }
        body #page .navigation .wp-paginate li a, body #page .navigation .wp-paginate li span {
          color: #fff;
          font-size: 20px;
          background-color: #333;
          border: 1px solid #333;
          font-family: "helvetica";
          margin: 15px 5px;
          display: inline-block;
          padding: 7px 10px; }
        body #page .navigation .wp-paginate li .prev, body #page .navigation .wp-paginate li .next {
          text-indent: -999999px;
          background-image: url("../paginate_left.png");
          background-position: 9px 8px;
          background-repeat: no-repeat;
          padding: 7px 15px; }
        body #page .navigation .wp-paginate li .next {
          background-image: url("../paginate_right.png"); }
        body #page .navigation .wp-paginate li .current {
          background-color: #fff;
          color: #333; }
        body #page .navigation .wp-paginate li .grey {
          border: 1px solid #ccc;
          background-color: #ccc; }

footer {
  margin: 15px 0; }
  footer .site-info {
    text-align: center;
    font-size: 20px;
    color: #95989a; }

/*# sourceMappingURL=style.css.map */
