/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Helvetica';
    
    src: url('//localhost/lig-exam/wp-content/uploads/font-organizer/Helvetica-1.ttf') format('truetype');
font-weight: normal;
}
